{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/category.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Forgot Password
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->
<!--================ Forgot Password Area =================-->
<section class="login_part section_padding ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="login_part_form">
          <div class="login_part_form_iner">
            <h3>Forgot Password
            </h3>
            <p>Enter your email and we’ll send you a link to reset your password.
            </p>
            <form class="row contact_form" action="{% url 'accounts:forgot-password' %}" method="post">
              {% csrf_token %}
              {% if form.non_field_errors %}
              <div class="text-danger small">
                {% for error in form.non_field_errors %}
                <li>{{ error }}
                </li>
                {% endfor %}
              </div>
              {% endif %}
              <div class="col-md-12 form-group p_star">
                <input type="email" class="form-control" id="id_email" name="email" placeholder="Email" value="{{ form.email.value|default:'' }}">
                {% if form.email.errors %}
                <div class="text-danger small">
                  {% for error in form.email.errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% endif %}
              </div>
              <div class="col-md-12 form-group">
                <button type="submit" value="submit" class="btn_3">Send Reset Link</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ Forgot Password end =================-->
{% endblock %}